<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Product -->
{% block title %} Post {% endblock title %}
<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
<hr>
{% block content %}
   <!-- Выводим text, только если они есть с помощью тега if -->
   {% if text %}
        <h3>| - - {{ text.title }} - - | - - {{ text.dateCreation|date:'d M Y' }} - - | - - {{ text.text }} - - |</h3>
   {% else %}
       <!-- Если новостей нет, говорим, что товаров нет) -->
       <h2>Товара нет!</h2>
   {% endif %}
{% endblock content %}

