<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!--Подключаем фильтры из news/templatetags/custom_filters.py-->
{% load custom_filters %}

{% block title %} Post {% endblock title %}

{% block content %}
   <h1> Все новости </h1>
   <!-- Если в переменной text будет None,
   то выведется указанный в фильтре текст
   # Количество всех записей text|length -->
   <h3> {{ text|length }} </h3>

   <hr>
   {% if text %}
       <table>
           <tr>
               <td> Заголовок </td>
               <td> Дата публикации </td>
               <td> Текст статьи </td>
           </tr>

           {% for t in text %}
           <tr>
               <td>{{ t.title }}</td>
               <td>{{ t.dateCreation|date:'d M Y' }}</td>
               <td>{{ t.text|truncatechars:20 }}</td> <!-- первые 20 слов текста статьи  -->
               <td><a href='/new/{{ t.id }}'>Подробнее</a></td>
               <td>{{ t.id|currency }}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}